python_general_repo2/data/pizza_steak_sushi
python_general_repo2/data/FashionMNIST
ProjDS/countrywide.csv
DL_HW2/flickr_logos_27_dataset_images
DL_HW2/train
DL_HW2/model.pth
EmailClassifier/linear_model.pt
